/*----  Button Style  ----*/

.btn-check:focus + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-check:checked + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-check:active + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-primary:active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-primary:disabled {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary.active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary.disabled {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}


.btn-secondary:hover {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-primary:active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}


.btn-check:focus + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-check:checked + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-check:active + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary.active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

/*----  Other Page Content  ----*/
#scrollUp:hover {
  background: #db3a5d;
  color: #ffffff;
}

.section-title .ec-title:after {
  background: #db3a5d;
}
.section-title .ec-title:before {
  background: #db3a5d;
}

.section-title .sub-title a {
  color: #db3a5d;
}


/*---- Newsletter Page On load Style ----*/

#ec-popnews-close {
  color: #777;
  border-color: #db3a5d;
 
}

/*----  Add To Cart toast ----*/
.slick-arrow:hover:before {
  color: #db3a5d;
}


.ec-cart-float .ec-header-btn .ec-cart-count {

  background: #db3a5d;
  color: #ffffff;
 
}
/*----  Whatsapp chat start  ----*/

.ec-tools-sidebar .ec-color-desc ul li a.colorcode5 {
  background-color: #db3a5d;
}

/*----  Maintenance page  ----*/

.ec-under-maintenance .under-maintenance .mainte-counter #timer .date-box {
  color: #db3a5d;
  border-color: #db3a5d;
}

/*-------------------------------------------------
  Breadcrumb Style CSS
---------------------------------------------------*/
.ec-breadcrumb-list li.active {
  color: #db3a5d;
}
.ec-breadcrumb-list .ec-breadcrumb-item.active::before {
  color: #db3a5d;
}
/*----  Header Button Actions  ----*/
.ec-header-bottons .ec-header-btn:hover .header_svg {
  fill: #db3a5d;
}

.ec-header-bottons .ec-header-user:hover .header_svg {
  fill: #db3a5d;
}
/*----  Main Menu  ----*/

.ec-main-menu ul li:hover > a {
  color: #db3a5d !important;
}
.ec-main-menu ul li:hover > a .scroll {
  fill: #db3a5d;
}

.ec-main-menu ul li.active > a {
  color: #db3a5d !important;
}
.ec-main-menu ul .scroll-to.active a .scroll:hover {
  fill: #db3a5d;
}

.ec-main-menu ul .scroll-to a .scroll:hover {
  fill: #db3a5d;
}

.ec-main-menu > ul > li:hover > a:before {
  background: #db3a5d;
}
.ec-main-menu > ul > li.active > a:before {
  background: #db3a5d;
}

/*----  Desktop search  ----*/
.submit .header_svg:hover {
  fill: #db3a5d;
}
.submit:hover {
  color: #db3a5d;
}
.submit:hover .header_svg {
  fill: #db3a5d;
}

/*----  Side Cart & Side Menu Toggle  ----*/
.ec-side-cart .ec-menu-title .menu_title {
  color: #db3a5d;
}

.eccart-pro-items li .ec-pro-content .cart_pro_title:hover {
  color: #db3a5d;
}

/*----  Main Slider Style  ----*/

.ec-slide-content .ec-slide-title:before {
  background: #db3a5d;
}

.main-slider-nav .swiper-buttons .swiper-button-next {

  color: #ffffff;
  background-color: #db3a5d;
}

.main-slider-nav .swiper-buttons .swiper-button-prev {

  color: #ffffff;
  background-color: #db3a5d;
}

/*----  Button Style  ----*/
.btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-primary:active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-check:focus + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-check:checked + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}
.btn-check:active + .btn-primary {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.btn-primary.active {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

/*-------------------------------------------------
  Product Tab Section CSS
---------------------------------------------------*/
/*----  Product nav tab  ----*/
.ec-pro-tab-nav .nav-item .nav-link:hover {
  color: #db3a5d;
}
.ec-pro-tab-nav .nav-item .nav-link:hover:before {
  background: #db3a5d;
  width: 100%;
}
.ec-pro-tab-nav .nav-item .nav-link.active {
  color: #db3a5d;
}
.ec-pro-tab-nav .nav-item .nav-link.active:before {
  background: #db3a5d;
  width: 100%;
}


/*----  Product Style  ----*/

.ec-product-inner .ec-pro-image .percentage {
  color: #ffffff;
  background-color: #ff6285;
}

.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group.active {
  color: rgba(68, 68, 68, 0.7);
  background-color: #db3a5d;
}

.ec-product-inner .ec-pro-content .ec-pro-title a:hover {
  color: #db3a5d;
}

.banner-block .banner-content .ec-banner-btn a {
  background-color: #db3a5d;
  color: #ffffff;

}

.ec-category-section .ec-cat-tab-nav .cat-link:hover {
  background-color: #db3a5d;
}
-category-section .ec-cat-tab-nav .cat-link.active {
  background-color: #db3a5d;
}

.ec-fs-pro-inner .ec-fs-pro-content .ec-fs-pro-book span {
  color: #db3a5d;
}

.ec-offer-content .ec-offer-title {
  color: #db3a5d;
}
.ec-offer-content .ec-offer-stitle {
  color: #db3a5d;
}


/*-------------------------------------------------
  Testimonial Section CSS
---------------------------------------------------*/
.ec-test-section .ec-test-name {
  color: #db3a5d;
}

/*-------------------------------------------------
  Instagram Section CSS
---------------------------------------------------*/

.ec-insta-inner a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #db3a5d;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*-------------------------------------------------
  Site Footer Section CSS
---------------------------------------------------*/

.ec-footer .footer-top .ec-footer-widget .ec-footer-links .ec-footer-link a:hover {
  color: #db3a5d;
}


/*----  Footer Bottom  ----*/

.footer-bottom .ec-copy .site-name {
  padding-left: 5px;
  color: #db3a5d;
}

.footer-bottom .ec-copy .site-name:hover span {
  color: #db3a5d;
}


/*-------------------------------------------------
  Shop Page CSS
---------------------------------------------------*/

.ec-gl-btn .btn:hover {
  background: #db3a5d;
  border: 1px solid #db3a5d;
}

.ec-gl-btn .btn.active {
  background: #db3a5d;
  border: 1px solid #db3a5d;
}

.ec-pro-pagination a:hover {
  color: #ffffff;
  background-color: #db3a5d;
}

.ec-pro-pagination a.active {
  color: #ffffff;
  background-color: #db3a5d;
}

/*-----  Togal Sidebar  -----*/

.ec-sidebar-wrap .h3 {
  color: #db3a5d;
}
.ec-sidebar-wrap .ec-sidebar-block .ec-sb-block-content li .ec-sidebar-block-item .checked:after {
  border: 1px solid #db3a5d;
  background: #db3a5d;
  color: #ffffff;
}

.ec-sidebar-wrap .ec-sidebar-block .ec-sb-block-content li a:hover {
  color: #db3a5d;
}
.ec-sidebar-wrap .ec-sidebar-block .ec-sb-block-content li .ec-more-toggle .checked:after {
  border: 1px solid #db3a5d;
  background-color: #db3a5d;
  color: #ffffff;
}

.ec-sidebar-wrap .ec-sidebar-block .ec-sb-block-content li:hover .checked {
  color: #db3a5d;
}

.ec-sidebar-wrap .ec-sidebar-block.ec-sidebar-block-clr .ec-sb-block-content li.active {
  padding: 2px;
  border-color: #db3a5d;
}

.noUi-horizontal .noUi-handle {
  background: #ffffff;
  border: 2px solid #db3a5d;
}


/*-------------------------------------------------
  Contact Page CSS
---------------------------------------------------*/

.ec-contact-item i {
  color: #db3a5d;
}

/*-------------------------------------------------
  FAQ Page Wrapper CSS
---------------------------------------------------*/
/*-----  FAQ Wrapper  -----*/

.ec-faq-container-3 h4.ec-faq-title, .ec-faq-container-3 .ec-faq-title.h4 {
  background-color: #db3a5d;
  color: #ffffff;
}


/*-----  Sidebar Slider  -----*/

.ec-sidebar-slider .slick-arrow:hover {
  border-color: #db3a5d;
}

/*-----  Single Product  -----*/

.single-nav-thumb .slick-slide:hover img {
  border-color: #db3a5d;
}
.single-nav-thumb .slick-slide.slick-current.slick-active img {
  border-color: #db3a5d;
}

.single-pro-content .ec-single-rating-wrap .ec-read-review a:hover {
  color: #db3a5d;
}

.single-pro-content .ec-single-sales .ec-single-sales-visitor span {
  color: #ffffff;
  background-color: #db3a5d;
}

.single-pro-content .ec-single-qty .ec-btn-group:hover {
  color: #ffffff;
  background-color: #db3a5d;
  border-color: #db3a5d;
}

.ec-single-pro-tab-nav .nav-tabs .nav-link:hover {
  color: #ffffff;
  background-color: #db3a5d;
  border: 1px solid #db3a5d;
}
.ec-single-pro-tab-nav .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #db3a5d;
  border: 1px solid #db3a5d;
}

/*-----  Product 360 Modal  -----*/
.ec-product-360 input:checked + .ec-slider {
  background-color: #db3a5d;
}
/*-------------------------------------------------
  Blog Page CSS
---------------------------------------------------*/

.ec-blog-inner .ec-blog-title a:hover {
  color: #db3a5d;
}


/*-------------------------------------------------
  Compare Page CSS
---------------------------------------------------*/

.ec-compare-inner .ec-com-remove:hover {
  background: #db3a5d;
}

.ec-com-tab-heading {
  color: #ffffff;
  background-color: #db3a5d;
}

/*-------------------------------------------------
  Track Order Page CSS
---------------------------------------------------*/

.ec-trackorder-top .ec-order-detail span {
  color: #db3a5d;
}


#ec-progressbar li.active .ec-progressbar-track:before {
  background: #deddff;
  background: #db3a5d;
}
#ec-progressbar li.active .ec-progressbar-track:after {
  background: #db3a5d;
}


/*-------------------------------------------------
  Checkout Page CSS
---------------------------------------------------*/

.checkout_page [type=radio]:checked + label:before {
  border: 1px solid #ddd;
  background: #ffffff;
  border: 1px solid #db3a5d;
}
.checkout_page [type=radio]:checked + label:after {
  background: #db3a5d;
}

.checkout_page [type=radio]:not(:checked) + label:after {
  background: #db3a5d;
}


/*-----  Checkout Page CSS  ------*/


.ec-sidebar-wrap.ec-checkout-pay-wrap .ec-pay-agree .checked:after {
  border: 1px solid #db3a5d;
  color: #db3a5d;
}



/*-------------------------------------------------
  Element Button Page CSS
---------------------------------------------------*/
/*------  Button Set  ------*/

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #db3a5d;
            box-shadow: 0 0 0 0 #db3a5d;
  }
}
@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #db3a5d;
            box-shadow: 0 0 0 0 #db3a5d;
  }
}



.ec-bg-anim .horizontal {
  border: 5px solid #db3a5d;
}
.ec-bg-anim .horizontal > .text {
  color: #db3a5d;
}
.ec-bg-anim .horizontal::before {
  background: #db3a5d;
}

.ec-bg-anim .vertical {
  border: 5px solid #db3a5d;
}
.ec-bg-anim .vertical > .text {
  color: #db3a5d;
}
.ec-bg-anim .vertical::before {
  background: #db3a5d;
}

.ec-border-anim .corner-button {
  border: 4px solid #db3a5d;
  color: #db3a5d;
}
.ec-border-anim .corner-button:hover {
  color: #db3a5d;
}

.ec-btn-classic .ec-buttons:after {
  background: #db3a5d;
}

.ec-btn-classic .ec-buttons:hover:nth-of-type(8) {
  -webkit-box-shadow: inset 0px 0px 0px 3px #db3a5d;
          box-shadow: inset 0px 0px 0px 3px #db3a5d;
}

.ec-btn-classic .ec-buttons:hover:nth-of-type(9) {
  -webkit-box-shadow: 0px 0px 0px 3px #db3a5d;
          box-shadow: 0px 0px 0px 3px #db3a5d;
}

/*-------------------------------------------------
  Element Product Card Page CSS
---------------------------------------------------*/
/* ----------- Start Product-DS -----------*/

.ec-product-ds .ec-product-discount-label {
  color: #fff;
  background: #db3a5d;
}

.ec-product-ds .ec-title a:hover {
  color: #db3a5d;
}
.ec-product-ds .ec-price {
  color: #db3a5d;
}

/* -----------/ END Product-DS -----------*/
/* ----------- START Product-csc -----------*/

.ec-product-csc .ec-product-body .ec-price {
  color: #db3a5d;
}

/* -----------/ END Product-csc -----------*/
/* ----------- START Product-fw -----------*/

.ec-product-fw .ec-product-image .ec-product-ribbon {
  color: #FFF;
  background-color: #db3a5d !important;
}

.ec-product-fw .ec-product-body .ec-price {
  color: #db3a5d;
}

/* -----------/ END Product-fw -----------*/
/* ----------- START Product-tp -----------*/

.ec-product-tp .ec-product-image .ec-product-ribbon {
  color: #FFF;
  background-color: #db3a5d !important;
}

.ec-product-tp .ec-product-body .ec-price {
  color: #db3a5d;
}

/* -----------/ END Product-tp -----------*/
/* ----------- START Product-lsc -----------*/

.ec-product-lsc .ec-product-image .ec-product-ribbon {
  color: #FFF;
  background-color: #db3a5d !important;
}

.ec-product-lsc .ec-product-body .ec-el-price .ec-o-price {
  color: #db3a5d;
}

.ec-product-lsc .ec-product-body .ec-size a:hover {
  border: 1px solid #eeeeee;
  color: #fff;
  background-color: #db3a5d;
}


/* -----------/ END Product-lsc -----------*/
/* ----------- START Product-swd -----------*/

.ec-product-swd .ec-product-body .ec-price {
  color: #db3a5d;
}

/* -----------/ END Product-swd -----------*/
/* ----------- START Product-cbb -----------*/

.ec-product-cbb .ec-product-body .ec-price {
  color: #db3a5d;
}

.ec-product-cbb .ec-product-body .ec-size a:hover {
  border: 1px solid #db3a5d;
  color: #fff;
  background-color: #db3a5d;
}

/* -----------/ END Product-cbb -----------*/
/* ----------- START Product-sup -----------*/

.ec-product-sup .ec-product-sale-label {
  color: #fff;
  background: #db3a5d;
}

.ec-product-sup .ec-product-body .ec-title a:hover {
  color: #db3a5d;
}
.ec-product-sup .ec-product-body .ec-price {
  color: #db3a5d;
}

.ec-product-sup .ec-product-body .ec-size a {
  border-color: #db3a5d;
  color: #db3a5d;
}
.ec-product-sup .ec-product-body .ec-size a:hover {
  border: 1px solid #db3a5d;
  color: #fff;
  background-color: #db3a5d;
}

/* -----------/ END Product-sup -----------*/
/* ----------- START Product-sbtn -----------*/

.ec-product-sbtn:hover .ec-add-to-cart {
  color: #fff;
  background: #db3a5d;
}

.ec-product-sbtn .ec-product-body .ec-size a {
  border-color: #eeeeee;
  color: #db3a5d;
}
.ec-product-sbtn .ec-product-body .ec-size a:hover {
  border: 1px solid #db3a5d;
  color: #fff;
  background-color: #db3a5d;
}

.ec-product-sbtn .ec-title a:hover {
  color: #db3a5d;
}
.ec-product-sbtn .ec-price {
  color: #db3a5d;
}

.ec-product-sbtn .ec-add-to-cart {
  color: #fff;
  background-color: #db3a5d;
}

.ec-product-sdwn .ec-product-sale-label {
  color: #fff;
  background: #db3a5d;
}

.ec-product-sdwn .ec-product-body .ec-title a:hover {
  text-decoration: none;
  color: #db3a5d;
}
.ec-product-sdwn .ec-product-body .ec-price {
  color: #db3a5d;
}

.ec-product-sdwn .ec-product-body .ec-size a:hover {
  border: 1px solid #db3a5d;
  color: #fff;
  background-color: #db3a5d;
}

.ec-product-sdwn .ec-product-body .ec-link-btn .ec-add-to-cart {
  color: #fff;
  background-color: #db3a5d;
}

/* -----------/ END Product-sdwn -----------*/
/* ----------- START Common CSS -----------*/

.ec-title a:hover {
  color: #db3a5d !important;
  text-decoration: none;
}

/* -----------/ END Common CSS -----------*/

/*-------------------------------------------------
  Element Title Page CSS
---------------------------------------------------*/
/*-----  Common CSS for all section  -----*/

.sec-1 h2 span:after, .sec-1 .h2 span:after {
  background-color: #db3a5d;
}

/*-----  Title Section-2 CSS  -----*/
.sec-2 h2 span:after, .sec-2 .h2 span:after {
  background: transparent -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#db3a5d), color-stop(#333), to(transparent)) repeat scroll 0 0;
  background: transparent linear-gradient(to right, transparent, #db3a5d, #333, transparent) repeat scroll 0 0;

}

/*-----  Title Section-2 CSS  -----*/
.sec-3 h2 span:after, .sec-3 .h2 span:after {
  background-color: #db3a5d;
}
.sec-3 h2 span:before, .sec-3 .h2 span:before {
  background-color: #db3a5d;
}

/*-----  Title Section-3 CSS  -----*/

.sec-4 h2 span:after, .sec-4 .h2 span:after {
  background-color: #db3a5d;
}


/*-------------------------------------------------
  General CSS
---------------------------------------------------*/

input::-moz-selection {
  color: #fff;
  background: #db3a5d;
}
input::selection {
  color: #fff;
  background: #db3a5d;
}

.title span {
  color: #db3a5d;
  font-weight: 800;
}

/*-------------------------------------------------
  Blog Page CSS
---------------------------------------------------*/
/*------  Card Blog  ------*/

.ec-card-grid-space .ec-card .ec-tags .ec-tag {
  background: #db3a5d;
  color: #ffffff;
}

.ec-card-grid-space .ec-card:hover {
  color: #db3a5d;
}
.ec-card-grid-space .ec-card:hover h1, .ec-card-grid-space .ec-card:hover .h1 {
  color: #db3a5d;
}

.ec-card-grid-space .ec-card:hover .ec-tags .ec-tag {
  background: #db3a5d;
  color: #ffffff;
}


/*------  Full Blog  ------*/

.ec-full-blog .ec-card-info a.ec-icon-link i {
  color: #db3a5d;
}
.ec-full-blog .ec-card-info a.ec-icon-link:hover {
  color: #db3a5d;
  text-decoration: none;
}
.ec-full-blog .ec-card-info .btn {
  background: #ffffff;
  color: #db3a5d;

}

.ec-full-blog .ec-card-info .btn:hover {
  background: #db3a5d;
  color: #ffffff;
}
.ec-full-blog .ec-card-info .btn i {
  color: #ffffff;
  background: #db3a5d;
}

.ec-full-blog:hover .ec-card-info h5, .ec-full-blog:hover .ec-card-info .h5 {
  color: #db3a5d;
}

/*------  Blog Card ------*/

.ec-blog-card .ec-title-content h3:after, .ec-blog-card .ec-title-content .h3:after {
  background: #db3a5d;
}

.ec-blog-card .ec-card-info a {
  background: #db3a5d;
  color: #ffffff;
}

/*------ Box Card ------*/

.ec-box-card .ec-date {
  background-color: #db3a5d;
}

/*------------------------------------------------
  Element Typography Page CSS
---------------------------------------------------*/

.typography .ec-fc {
  color: #db3a5d;
}

.typography .ec-dl-blurbs dl dt {
  color: #db3a5d;
}
.typography .ec-dl-blurbs dl dt::before {
  color: #db3a5d;
}

.typography .ec-check-list li:before {

  border-color: #db3a5d;
}


/*-----  Catalog Single Vendor  -----*/


.ec-catalog-vendor-sec .ec-page-detail .social-bar li a:hover {
  color: #db3a5d;
}
